@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Teko&display=swap");

:root {
  --text-color: rgb(247, 247, 247);
  --main-color: #e5398c;
  --off-color: rgb(109, 249, 247, 0.6);
  --font-main: "Press Start 2P", cursive;
  --font-text: "Teko", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #242025;
  overflow-x: hidden;
}


